/*regole generali*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ;
}



/*header*/
header {
    background-color: aqua;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
/*fine header*/




/*main*/
main {
    background-color: burlywood;
    width: 100%;
    height: 900px;
    margin-top: 70px;
}

main .container {
    background-color:darkgreen;
    width: 100%;
    height: 300px;
}

main .jumbotron {
    background-color: crimson;
    width: 80%;
    height: 300px;
    margin: auto;
}

main .container-main {
    background-color: darkcyan;
    width: 70%;
    height: 600px;
    margin: auto;
}
/*fine main*/



/*footer*/
footer {
    background-color: cornflowerblue;
    width: 100%;
    height: 400px;
}
/*fine footer*/



/*regole generali*/


/*body*/
/*header*/

header .row {
    display: inline-block;
    width: 100%;
    height: 25px;
}

header .logo {
    height: 100%;
}

header .logo img {
    height: 100%;
}

header .head-sx {
    float: left;
    height: 100%;
    display: inline;

}

header .head-dx {
    float: right;
    display: inline;
}

header nav {
    height: 100%;
    text-decoration: none;
    display: inline;
}

header nav ul li {
    display: inline-block;
}


/*fine header*/




/*footer*/
.foot-up {
    width: 80%;
    height: 100px;
    margin: auto;
    text-align: center;
}

.foot-up .col {
    display: inline-block;
    margin-top: 0px 10px;
}

footer a {
    color: white;
}



/*fine footer*/


/*fine body*/