/*regole generali*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    background-color: rgb(0,97,255);
    padding: 10px 20px;
    display: inline-block;
    color: white;
} 

.btn a {
    color: white;
    text-decoration: none;
}

.space.btn a {
    color: white;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 100px auto;
}

.title {
    text-align: center;
    display: block;
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.text-box {
    padding: 10px;
}

/*header*/
header {
    background-color: white;
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0px 10px;
}

.text-header {
    margin-top: 15px;
}
/*fine header*/




/*main*/
main {
    width: 100%;
    margin-top: 70px;
}

main .container-jumbo {
    background-color: #b4d0e7;
    width: 100%;
}

main .jumbotron {
    width: 80vw;
    margin: auto;
    padding: 20px;
    margin-bottom: 80px;
}




/*fine main*/



/*footer*/
footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
}
/*fine footer*/



/*regole generali*/






/*body*/
/*header*/


header .logo {
    height: 100%;
    display: inline-block;
}

header .logo img {
    height: 100%;
    vertical-align: middle;
}

header .head-sx {
    float: left;
    display: inline;
}

header .head-dx {
    float: right;
    display: inline;
    margin-left: 40px;
}

header nav {
    height: 100%;
    display: inline-block;
}

header li {
    display: inline-block;
    margin-left: 50px;
}

header li a {
    display: inline-block;
    vertical-align: middle;
}

.inizia {
    display: inline;
    margin-left: 40px;
}

header .logo a {
    width: 100%;
    display: inline-block;
}

/*fine header*/




/*main*/

main .img-1{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    width: 600px;
    height: 340px;
    position: absolute;
    top: 250px;
    right: 300px;
}

main h1 {
    font-size: 70px;
}

main .left-50 {
    width: 20%;
    margin: 40px 0px;

}

/*fine main*/



/*section 1 main*/


.section-1 .row {
    width: 100%; 
}

.section-1 .col {
    float: left;
    width: 30%;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.section-1 .col-center {
    margin: 0px 5%;
}

.section-1::after{
    content: "";
    display: table;
    clear: both;
}

.foot-section-1 {
    margin: 10px 0px;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.foot-section-1 .text-box{
    position: relative;
}    

.foot-section-1 .btn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
} 

.text-box h2 {
    margin-bottom: 15px;
}

.text-box .strong {
    font-weight: bold;
    padding: 6px 0px;
}

.check {
    margin-bottom: 15px;
}

.check-end {
    margin-bottom: 100px;
}

.space {
    margin-bottom: 15px;
}

.space-st {
    margin-top: 30px;
}

.space-bot {
    margin-bottom: 20px;
}

.text-box a {
    color: blue;
    text-decoration: underline;
}

.space-br span {
    border-bottom: solid 1px #000;
    padding-bottom: 20px;
    margin-bottom: 10px;
}    

.space-br {
    margin-bottom: 30px;
}








/* fine section 1 main*/


/* fine section 2 main*/


img.img-section-2{
    width: 100%;
}

.container.section-2.clearfix .partners {
   width: 50%;
   float: left;
}
.container.section-2.clearfix  .text-partners {
    float: left;
    width: 50%;
    padding: 20px;
}

.text-partners h2 {
    margin-top: 10px;
}

.text-partners p {
    padding: 10px 0px;
}

.btn.btn-white {
    background-color: white;
    color: black;
    border: solid 1px #000;
}

.btn.btn-white a {
    color: #000;
}




/* fine section 2 main*/


/* section 3 main*/
.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    width: 100%;
}


.card {
    width: 30%;
    float: left; 
}

.card {
    display: inline-block;
}

.card.card-2{
    margin: 0px 5%;
}

.card.card-5 {
    margin: 0px 5%;
}

.photo {
    width: 100%;
}

.Ticket {
    width: 100%;
}

/* fine section 3 main*/


/* section 4 main*/

.diviso-1 {
    width: 50%;
}

.section-4 a {
    text-decoration: underline; 
    color: rgb(0, 110, 255);
}

.diviso-3 {
    width: 100%;
    background-color:  #b4d0e7;
    padding: 100px 0px;
}

.cont-sec4 {
    width: 80%;
    margin: auto;
}

.cont-sec4 h2 {
    color: rgb(160, 24, 24);
    width: 50%;
    display: inline-block;
}

.diviso-3 .btn a {
    color: #000;
}


.diviso-3 .btn {
    background-color: white;
    color: #000;
    display: inline-block;
    float: right;
    margin-right: 300px;
    vertical-align: middle;
}



.diviso-2 {
    width: 100%;
}

.diviso-2 .cont .row {
    width: 100%;
}

.diviso-2 .cont .row .col {
    width: 30%;
    height: 15vw;
    float: left;
}

.diviso-2 .cont .row .col-center {
    width: 40%;
    height: 30vw;
    background-color: #f5f5f5;
    float: left;
    padding: 50px;
    overflow: hidden;
}

.diviso-2 .cont .row .col-center:hover {
    overflow: auto;
    
}

.diviso-2 .cont .row .col .row2 .box {
    width: 50%;
    height: 15vw;
    float: left;
}
.diviso-2 .cont .row .col .row2 img {
    width: 50%;
    filter: invert();
}

.diviso-2 .cont .row .col .row2 .box1 {
    background-color: #a2d39b;
    border: solid 10px #d0e9cd;  
}

.box {
    text-align: center;
    line-height: 15vw;
}

.box img {
    vertical-align: middle;
}


.diviso-2 .cont .row .col .row2 .box2 {
    background-color: #61082b;
}

.diviso-2 .cont .row .col .row2 .box3 {
    background-color: #0093ce;
}

.diviso-2 .cont .row .col .row2 .box4 {
    background-color: #ff1c1c;
}

.diviso-2 .cont .row .col .row2 .box5 {
    background-color: #d5001f;
}

.diviso-2 .cont .row .col .row2 .box6 {
    background-color: #b4d0e7;
}

.diviso-2 .cont .row .col .row2 .box7 {
    background-color:#0d2481;
}

.diviso-2 .cont .row .col .row2 .box8 {
    background-color: #ffd830;
}

.col-center img {
    height: 45px;
    margin-bottom: 20px;
}

.col-center .hr {
    width: 50px;
    border: solid 1px #000;
    margin-bottom: 50px;
}

.foot-col {
    margin-top: 50px;
}


/* fine section 4 main*/


/* section 5 main*/

.faq {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding: 20px 0px;
}

/* fine section 5 main*/






/*footer*/
.foot-up {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 120px;
}

.foot-up .col {
    float: left;
    width: 20%;
}

footer a {
    color: white;
}

footer ul {
    list-style-type: none;
}

.foot-up::after {
    content: "";
    display: table;
    clear: both;
}

footer h3 {
    color: white;
    padding: 10px 0px;
}

footer ul li{
    padding: 5px 0px;

}


footer ul li a {
    color: white;
    padding: 10px 0px;
}

footer .foot-down {
    width: 80%;
    margin: auto;
}

.foot-down .box {
    width: 100px;
    display: inline-block;
    border-top: solid 2px rgb(255, 255, 255);
}

/*fine footer*/


/*fine body*/