/*regole generali*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*header*/
header {
    background-color: aqua;
    width: 100%;
    height: 70px;
}
/*fine header*/




/*main*/
main {
    background-color: burlywood;
    width: 100%;
    height: 900px;
}

main .jumbotron {
    background-color: crimson;
    width: 80%;
    height: 300px;
    margin: auto;
}

main .container-main {
    background-color: darkcyan;
    width: 70%;
    height: 600px;
    margin: auto;
}
/*fine main*/



/*footer*/
footer {
    background-color: cornflowerblue;
    width: 100%;
    height: 400px;
}
/*fine footer*/



/*regole generali*/

